<div style="width: 100%; height: 100%; padding: 0px; left: 0px; right: 0px; border:0px">

	<div data-dojo-type="dijit/Toolbar" style='border: 0;padding:0;width: 100%;' data-dojo-attach-point="PmrDetailToolBarContainer">
		<span data-dojo-type="dijit/ToolbarSeparator"></span>
							
		<div data-dojo-type="dijit/form/Button"  data-dojo-attach-point="btn_EditPmrDetail"
				        	data-dojo-attach-event="" data-dojo-props="iconClass:'executeFilter', showLabel:true">Edit</div>
	</div>
		
	<div style="width:100%; height:100%; padding: 0px; overflow:auto">

			
		<div data-dojo-type="dojox/layout/TableContainer" data-dojo-attach-point="pmrsDetailInfoContainer" 
			style="width:50%; height:50%; padding: 2px;"  data-dojo-props='cols:2, customClass:"ibm-data-table", labelWidth:150'>
		</div>
		
		
		<div data-dojo-attach-point="pmrsCommuInfoContainer">
		
		</div>
	</div>
	
</div>