<div style="width: 100%; height: 100%; padding: 0px; left: 0px; right: 0px; border:0px">

	<div data-dojo-attach-point="previewToolbar" style="width: 100%; padding: 1px; left: 0px; right: 0px; border:0px">
		
		
		<div data-dojo-type="dijit/Toolbar" style='border: 0;padding:0;width: 100%;' data-dojo-attach-point="PmrDetailToolBarContainer">
			<span data-dojo-type="dijit/ToolbarSeparator"></span>
								
			<div data-dojo-type="dijit/form/Button"  data-dojo-attach-point="btn_EditPmrDetail"
					        	data-dojo-attach-event="" data-dojo-props="iconClass:'executeFilter', showLabel:true">Edit</div>
		
				
		</div>
		
	</div>
	
	<div data-dojo-attach-point="pmrsDetailInfoContainer" style="width:100%; height:100%; padding: 10	px; overflow:auto">
	
	</div>
	
</div>