<div style="width: 100%; height: 100%; padding: 0px; left: 0px; right: 0px; border:0px">
	
	<!--
	<div class="previewHeader">
	</div>
	-->
	  
	<div data-dojo-attach-point="previewToolbar" style="width: 100%; padding: 1px; left: 0px; right: 0px; border:0px">
		<div data-dojo-attach-point="filterSection">	
		</div>
	</div>
	<!--
	<div data-dojo-attach-point="loadingIndicator" data-dojo-type="dcc/datatools/shared/widgets/LoadingWidget"></div>
	-->
	<div data-dojo-attach-point="pmrsGridContainer" style="width:100%;height:100%;">	
	</div>
	
	<div data-dojo-attach-point="statusbar" style="width: 100%; padding: 1px; left: 0px; right: 0px; border:0px">
		<div data-dojo-attach-point="statusSection">	
		</div>
	</div>
</div>